table th {
  background-color: #FBE5E7;
  color: #74645C;
}

table td {
  vertical-align: middle;
  text-align: center;
}
/* 通常のボタン色 */
.btn-pale,
.btn-pale.disabled, .btn-pale:disabled {
  color: #fff;
  background-color: lightskyblue;
  border-color: lightskyblue;
}

/* focusされた時の枠線の色 */
.btn-pale:focus, .btn-pale.focus,
.btn-pale:not(:disabled):not(.disabled):active:focus, .btn-pale:not(:disabled):not(.disabled).active:focus,
.show > .btn-pale.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(122, 255, 200, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-pale:hover {
  color: #fff;
  background-color: skyblue;
  border-color: skyblue;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-pale:not(:disabled):not(.disabled):active, .btn-pale:not(:disabled):not(.disabled).active,
.show > .btn-pale.dropdown-toggle {
  color: #fff;
  background-color: skyblue;
  border-color: skyblue;
}

* {
  font-family: 'Kosugi Maru', sans-serif;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("https://mobilized-taskmanager-application.s3.us-east-2.amazonaws.com/loader.gif") center center no-repeat;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  border-color: gray;
}
ul {
  list-style: none;
}
.grid-box {
  border-color: gray;
  background-color: white;
  margin-right: 30px;
}
.box-big{
  grid-column: 1 / 3;
}

#homeobject{
  min-height: 200px;
}